<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivecloud.system.mapper.SysUserMapper">

    <!-- 根据用户名查询用户 -->
    <select id="selectByUsername" resultType="com.hivecloud.system.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE username = #{username}
          AND deleted = 0
    </select>

</mapper>
